
.lead__table-text{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    margin-top: 7px;
}

@media screen and (max-width: 769px) {
    .lead__table-text{
        margin-left: 4.5%;
    }
}