.table-header__link{
    width:49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 376px) {
    .table-header__link{
        display: none;
    }
}