@import url('./__block-links/footer__block-links.css');

@import url('./__copyright/footer__copyright.css');

@import url('./__link/footer__link.css');

.footer{
    max-width: 1184px;
    margin: 160px auto 0px;
    width: 92.5%;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

@media screen and (max-width: 769px) {
    .footer{
        margin-top: 102px;
    }
}

@media screen and (max-width: 575px) {
    .footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 376px) {
    .footer{
        margin-top: 60px;
        padding-bottom: 24px;
    }
}